.fullDescriptionContent {
  margin: 0 auto;
  max-width: 520px;
}

.exchangeContent {
  padding: 2rem;
  text-align: center;
  background-color: var(--color-pink-medium-one);
  list-style-type: none;
}

.exchangeContent li {
  font-size: 20px;
}

.exchangeContent li:nth-child(3) {
  margin: 1rem 0;
  font-size: 4.5rem;
  font-weight: 900;
}
