:root {
  --color-black-russian: #1f2022;
  --color-sirocco: #647c74;
  --color-pink-light: #e985aa;
  --color-pink-medium-one: #d4447c;
  --color-pink-medium-two: #ec3e7c;
  --color-pink-medium-three: #f43c84;
  --color-pink-hard: #a42c5c;
  --color-light: #f9f8f9;
}
